@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* LawnHero color palette */
  --color-lightest: #DAD7CD;   /* very light neutral */
  --color-light: #A3B18A;      /* light green */
  --color-medium: #588157;     /* medium green */
  --color-dark: #3A5A40;       /* dark green */
  --color-darkest: #344E41;    /* deepest green / accent */
}